body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #ff5100;
    margin-bottom: 40px;
}

.container-card {
    border: 1px solid rgb(57, 57, 57);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

h2 {
    color: #333;
}

img {
    width: 80%;
    height: 55%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.overview {
    overflow: hidden; /* Hide the overflowing content */
    height: 3.6em; /* Set the maximum height */
    margin-bottom: 10px;
}

.read-more-btn {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

span {
    color: orange;
    display: inline;

}